.container {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.item__img {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 2px;
}

.item__title {    
    font-family: $spartan;
    font-family: $x-large;
    font-weight: $bold;
}

.item__text {
    font-family: $spartan;
    font-size: $small;
    font-weight: $light;
    color: $light-grey;
    margin-bottom: 20px;
}


@include respond-to ($bp-md) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .item__img {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .item__text {
        font-size: 15px;
    }
}

@include respond-to ($bp-lg) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
    }

    .item__img {
        width: 100%;
        height: 80%;
        margin-bottom: 0;           
    } 
}

@include respond-to ($bp-xl) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    
}